fastapi==0.116.1
uvicorn==0.35.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
python-docx==1.2.0
pdf2image==1.17.0
pytesseract==0.3.13
pdfminer.six==20250506
Pillow==11.3.0
redis==5.0.1
pytest==8.2.2
httpx==0.27.0
pytest-asyncio==0.23.7
python-multipart==0.0.20
SQLAlchemy==2.0.43
alembic==1.7.7
